@import 'colours';
@import 'nav';
@import 'splash';
@import 'main';
@import 'book';


body {
    width: 100vw;
    margin: 0;
    font-family: 'Open Sans';
    font-size: 1.5em;
    overscroll-behavior: none;
    @media screen and (min-width: $big) {
      font-size: 1rem;
    }
}
