@import 'colours';
@import 'nav';
@import 'splash';
@import 'main';
@import 'book';
@import 'property';
@import 'area';

body {
    width: 100vw;
    margin: 0;
    font-family: 'Open Sans';
    overscroll-behavior: none;
}
p {
  font-size: 16px;
}
h1 {
    font-size: 50px;
}