<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The Brambles</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300|Merriweather' rel='stylesheet' type='text/css'>
  </head>
  <body>
  <main id="book-main">
      <div id="background"></div>
      <section id="book-inner">
        <h1>THE BRAMBLES</h1>
        <h2></h2>
      </section>
  </main>
  <script>
  </script>
  </body>
</html>