<!-- views/menu-expand.ejs -->

<div id="menu-expand" class="closed">
        <div>
          <a href="/property"><h2>The Property</h2></a>
          <a href="/area"><h2>The Area</h2></a>
          <h2>Photos</h2>
          <h2>Contact</h2>
        </div>
      </div>