<!-- views/navbar.ejs -->

<nav id="nav" class="nav-closed">
        <div id="nav-left">
          <h2></h2>
          <a href="/room"><h3>ROOM</h3></a>
          <h3>AREA</h3>
        </div>
        <div id="img-container"><img src="./assets/logo-blank-white.png" alt="outside" id="logo" /></div>
        <div id="nav-right">
        <h3>PHOTOS</h3>
        <h3>CONTACT</h3>
            <!---<a href="/book"><button id="nav-button">BOOK NOW</button></a>-->
            <div id="menu-button">
              <p>MENU</p>
              <div id="nav-menu" class="nav-menu-before">
                <div class="line"></div>
                <div class="line"></div>
                <div class="line"></div>
              </div>
          </div>
        </div>
      </nav>